@{
    ViewData["Title"] = "LLamada";
}
<!DOCTYPE html>

<html lang="en">
<head>
    <style>

        .button1 {
            float: none;
            display: block;
            padding: 0px 50px;
            margin-left: 10%;
            margin: auto;
            font-size: 40px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #4CAF50;
            border: none;
            border-radius: 15px;
        }

            .button1:active {
                background-color: #215c23;
            }

        body {
            overflow: hidden;
            background-color: cadetblue;
        }

        #overlay-btn {
            position: fixed; /* Sit on top of the page content */
            display: block; /* Hidden by default */
            width: 12%; /* Full width (cover the whole page) */
            height: 12%; /* Full height (cover the whole page) */
            top: 1%;
            left: 1%;
            right: 0;
            bottom: 0;
        }

        .responsive {
            width: 100%;
            height: auto;
        }

        .box {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='https://meet.jit.si/external_api.js'></script>
    <script>
        @if (ViewBag.id != "False") {
        <text>
                $(document).ready(function() {
                    var domain = "jitsi.hostcero.com";
                    var options = {
                roomName: "@ViewBag.id",
                configOverwrite: { disableDeepLinking: true, disableInviteFunctions: true},
                parentNode: document.querySelector('#meet')
            }
                var api = new JitsiMeetExternalAPI(domain, options);
                });
        </text>
        }        
    </script>    
    <script>
        var sec = 0;
        function pad(val) { return val > 9 ? val : "0" + val; }
        setInterval(function () {            
            $("#Sec").val(pad(++sec % 60));
            $("#Min").val(pad(parseInt(sec / 60, 10)));
        }, 1000);
    </script>
    <script>       
        window.onbeforeunload = function () {
            return "Estas seguro?";            
        };
    </script>
</head>

<body>
    @if (ViewBag.id != "False")
    {
        <text>
            <div id="meet" class="box" draggable="false"></div>
            <form action='@Url.Action("EndCall", "Home")' method="get">
                <input type="hidden" name="Min" id="Min" />
                <input type="hidden" name="Sec" id="Sec" />
                <input type="hidden" name="Llamada" value="true" />
                <div id="overlay-btn">
                    <button class="button1">Salir</button>
                </div>
            </form>
        </text>
    }
    else
    {
    <text>
      asd  
    </text>
     }
</body>

</html>