@{
    ViewData["Title"] = "Llamada finalizada";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
       
        body {
            background-color: powderblue;
        }

        h1 {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            margin-bottom: auto;
        }

        p {
            margin-top: 20px;
            margin-bottom: auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="text-center">
            <h1 style="font-size:10vw" class="display-4">Llamada finalizada</h1>
            <p style="font-size:2vw">Ya puede cerrar esta pagina.</p>                        
        </div>
    </div>
</body>
</html>